.html {
    font-family: sans-serif;
}

.login-button {
    height: 10px;
    width: 100px;
    padding-bottom: 24px;
    padding-top: 5px;
    background-color: #d3452f;
    color: white;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
}

.personal {
    text-decoration: none;
    color: white;
    font-size: 11px;
    margin-left: 200px;
}

.locate {
    text-decoration: none;
    color: white;
    font-size: 11px;
    margin-right: 350px;
}

.nav-small {
    text-decoration: none;
    color: white;
    font-size: 11px;
}

.navbar-background {
    background-color: white !important;
}

.nav-spans {
    font-size: 12px;
    margin-left: 20px;
}

.search-icon {
    font-size: 12px;
    margin-left: 100px;
}

.login-link {
    font-size: 12px;
    margin-left: 10px;
}

.banner {
    background-color: rgb(248, 248, 248);
    height: 550px;
    border-radius: 0px 0px 1000px 0px;
    margin-bottom: 100px;
}

.mobile {
    padding-top: 50px;
    font-size: 10px;
    margin-left: 45px;
}

.bank-power {
    font-weight: 700;
    color: rgb(107, 107, 107);
}

.digital {
    font-size: 12px;
    color: rgb(172, 172, 172);
}

.global-img {
    background-color: #adadad;
    margin-top: 20px;
}

.disc {
    font-weight: bold;
    color: rgb(107, 107, 107);
    margin-top: 20px;
}

.easy-title {
    text-align: center;
}

.row-center {
    text-align: center;
    margin-top: 100px;
}

.title-cards {
    margin-top: 50px;
}

.desc-cards {
    margin-top: 30px;
    font-size: 11px;
    color: #adadad;
}

.main {
    margin-bottom: 100px;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.instant-1 {
    background-color: #ffe1e0;
    /* border-radius: 900px; */
    width: 40px;
    margin-left: 320px;
    /* padding: 2px 3px 2px 2px; */
}

.instant-2 {
    background-color: #dfdfdf;
    /* border-radius: 900px; */
    width: 40px;
    margin-left: 320px;
}

.card-2 {
    width: 20rem;
    height: 8rem;
    margin-left: 10px;
    margin-top: 100px;
    border-radius: 5px;
    border: 1px solid rgb(245, 245, 245);
}

.card-3 {
    width: 20rem;
    height: 8rem;
    margin-left: -220px;
    margin-top: 100px;
    border-radius: 5px;
    border: 1px solid rgb(245, 245, 245);
}
