{% load cms_tags menu_tags sekizai_tags static %}

<!-- Start Footer -->
<footer class="nb-footer">
    <div class="container">

        <!-- section 1 -->
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single">
                    <h2 class="title">Types of banking</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"> Personal</a></li>
                        <li><a href="#"> Private</a></li>
                        <li><a href="#"> Business</a></li>
                        <li><a href="#"> Corporate</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single">
                    <h2 class="title">Investor relations</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> Financial reports</a></li>
                        <li><a href="#" title=""> Annual reports</a></li>
                        <li><a href="#" title=""> Disclosures</a></li>
                        <li><a href="#" title=""> Corporate governance</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single footer-single-border">
                    <h2 class="title">BEST PERFORMING <br>
                        ISLAMIC BANK</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> in the world</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single footer-single-border">
                    <h2 class="title">BANK OF THE <br>
                        YEAR</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> in Kuwait</a></li>

                    </ul>

                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single footer-single-border">
                    <h2 class="title">BEST CUSTOMER <br>
                        SERVICE</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> in Kuwait</a></li>

                    </ul>

                </div>
            </div>

        </div>

        <!-- Section 2 -->
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single">
                    <h2 class="title">About us</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"> The Boubyan Group</a></li>
                        <li><a href="#"> Management</a></li>
                        <li><a href="#"> Awards</a></li>
                        <li><a href="#"> Investor relations</a></li>
                        <li><a href="#"> News & press releases</a></li>
                        <li><a href="#"> Social responsibility</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single">
                    <h2 class="title">Useful information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> Banking awareness</a></li>
                        <li><a href="#" title=""> Ministry salaries</a></li>
                        <li><a href="#" title=""> Exchange rate</a></li>
                        <li><a href="#" title=""> E-Brochures</a></li>
                        <li><a href="#" title=""> Tutorials</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single footer-single-border">
                    <h2 class="title f-margining">BEST ISLAMIC <br>
                        DIGITAL BANK </h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> in Middle East and Kuwait</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2">
                <div class="footer-info-single footer-single-border">
                    <h2 class="title f-margining">MOST INNOVATIVE <br>
                        DIGITAL BANK</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> in Kuwait</a></li>

                    </ul>

                </div>
            </div>

            <!-- <div class="col-md-2 col-sm-2">
                    <div class="footer-info-single">
                        <h2 class="title">BEST CUSTOMER <br>
                            SERVICE</h2>
                        <ul class="list-unstyled">
                            <li><a href="#" title=""> in Kuwait</a></li>

                        </ul>

                    </div>
                </div> -->

        </div>

        <!-- Section 3 -->
        <div class="row">
            <div class="col-md-2 col-sm-2" style="margin-left: 440px; margin-top: -200px;">
                <div class="footer-info-single footer-single-border">
                    <h2 class="title">BEST MOBILE <br>
                        BANKING APP</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> in Kuwait</a></li>

                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-2" style="margin-top: -200px;">
                <div class="footer-info-single footer-single-border">
                    <h2 class="title">BEST INNOVATION <br>
                        IN IMAL TECHNOLOGY</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" title=""> in Kuwait</a></li>

                    </ul>

                </div>
            </div>

        </div>

        <!-- section 3 social -->
        <div class="row">

            <div class="col-md-4 col-sm-4">
                <div class="footer-info-single">
                    <div class="boubyan-footer">
                        <div style="border-left: 30px solid white;">
                            <p>Boubyan support @1802002</p>
                            <p style="margin-top: -20px;">Speak to our customer representative</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer-info-single">
                    <div class="boubyan-footer">
                        <img src="{% static 'images/instagram.png' %}" alt="no img" height="40px" width="40px">
                        <img src="{% static 'images/twitter.png' %}" alt="no img" height="40px" width="40px">
                        <img src="{% static 'images/snap.png' %}" alt="no img" height="40px" width="40px">
                        <img src="{% static 'images/youtube.png' %}" alt="no img" height="40px" width="40px">
                        <img src="{% static 'images/in.png' %}" alt="no img" height="40px" width="40px">
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="footer-info-single">
                    <div class="boubyan-footer">
                        <img src="{% static 'images/shape (2).svg' %}" alt="no img"> <span
                            style="color: white; font-size: 15px;">Download Boubyan app</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 copyright-boubyan">
                    <p style="font-size: 11px;">© Copyright 2018. Boubyan Bank. All Rights Reserved</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer">Sitemap</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer" style="margin-left: -54px;">Banking & financial awareness</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer">Terms & conditions</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer">Fees & commission</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer">Legal statement</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer">Privacy policy</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer">Disclaimers</p>
                </div>
                <div class="col-sm-1">
                    <p class="mini-footer">Copyrights</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<!-- End Footer -->