{% load cms_tags menu_tags sekizai_tags static %}

<nav style="background-color:#575757;" class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link personal" href="#">Personal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-small" href="#">Private</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-small" href="#">Business</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-small" href="#">Corporate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link locate" href="#">Explore
            Boubyan</a>
    </li>

    <li class="nav-item">
        <a class="nav-link nav-small" href="#">Locate us</a>
    </li>

    <li class="nav-item">
        <a class="nav-link nav-small" href="#">Contact us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-small" href="#">Careers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link nav-small" href="#">عربي</a>
    </li>
</nav>