{% load cms_tags menu_tags sekizai_tags static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-background">
    <div class="collapse navbar-collapse" id="navbarNav" style="margin-left: 300px;">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#"><img src="{% static 'images/BoubyanBankLogo.svg' %}" alt="LOGO" style="margin-left: 46px;"
                        height="50px"></a>
            </li>

            <li class="nav-item">
                <a class="nav-link mt-3 nav-spans" href="#">
                    <span style="font-weight: bolder;">Accounts</span> <br> <small style="font-size: 8px;">Everyday
                        banking</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3 nav-spans" href="#">
                    <span style="font-weight: bolder;">Cards</span> <br> <small style="font-size: 8px;">Rewards and
                        offers</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3 nav-spans" href="#">
                    <span style="font-weight: bolder;">Borrowing</span> <br> <small style="font-size: 8px;">Meeting
                        financal needs</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3 nav-spans" href="#">
                    <span style="font-weight: bolder;">Investing</span> <br> <small style="font-size: 8px;">Growing
                        wealth</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3 nav-spans" href="#">
                    <span style="font-weight: bolder;">Ways to bank</span> <br> <small style="font-size: 8px;">Access
                        anywhere, anytime</small>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3 nav-spans" href="#">
                    <span style="font-weight: bolder;">Discounts & offers</span> <br> <small style="font-size: 8px;">For
                        our customers</small>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link mt-3 search-icon" href="#">
                    <span style="font-weight: bolder; margin-left: 120px;"><img src="{% static 'images/search.svg' %}" alt=""
                            height="30px"></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-3 login-link" href="#">
                    <button type="submit" class="login-button">Login</button>
                </a>
            </li>

        </ul>
    </div>
</nav>